<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Password Reset</title>
</head>
<body>
<p>Hello,</p>
<p>We received a request to reset your password. To set a new password, please click the link below:</p>

<p>
    <a th:href="${resetLink}" target="_blank">Reset Password</a>
</p>

<p>If you did not request a password reset, you can safely ignore this email.</p>

<p>Best regards,<br/>
    <span th:text="${domain}"></span> Team
</p>
</body>
</html>
